# --- 操作系统生成的垃圾文件 ---
.DS_Store
Thumbs.db

# --- 编辑器/IDE 的配置文件夹 (不需要上传) ---
.idea/
.vscode/
*.swp
*.iml
.history/
# --- 编译生成的临时文件/目录 ---
bin/
build/
dist/
target/
out/
__pycache__/
*.pyc
android-sdk/
# --- 依赖库 (非常重要！这些通常特别大) ---
node_modules/
venv/
.env/
.buildozer/
bin/
# --- 敏感配置文件 ---
log/
.env
secret.key
android-sdk\cmdline-tools\